# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Exports
*.xlsx
*.csv
*.pdf

# Android
android/.gradle
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# Coverage
coverage/